language "deutsh_1"

hours {
  'zwölf'
  'eins'
  'zwei'
  'drei'
  'vier'
  'fünf'
  'sechs'
  'sieben'
  'acht'
  'neun'
  'zehn'
  'elf'
}

minutes {
'5'  'fünf nach'
'10' 'zehn nach'
'15' 'viertel'
'20' 'zehn vor halb'
'5' 'fünf vor halb'
'30' 'halb'
'35' 'fünf nach halb'	
'40' 'zehn nach halb'
'45' 'dreiviertel'
'50' 'zehn vor'
'55' 'fünf vor'
}

prepositions {
'-1' {'gleich' 'fast' 'bald' 'in Kürze' 'beinahe'}
'0' {'exakt' 'genau' 'jetzt' ''}
'1' {'circa' 'etwa'}
}

beforeMidnight 'Es ist gleich Mitternacht.'
afterMidnight 'Es ist nach Mitternacht.'

special_cases {
'3:58' beforeMidnight
'23:59' beforeMidnight
'00:00' 'Es ist Mitternacht.'
'00:01' afterMidnight
'00:02' afterMidnight
'00:58' 'Es ist demnächst ein Uhr.'
'00:59' 'Es ist kurz vor ein Uhr.'
'01:00' 'Es ist ein Uhr.'
'01:01' 'Es ist kurz nach ein Uhr.'
'01:02' 'Es ist kurz nach ein Uhr.'
'12:00' 'Es ist Mittag.'
'12:58' 'Es ist demnächst ein Uhr.'
'12:59' 'Es ist kurz vor ein Uhr.'
'13:00' 'Es ist ein Uhr.'
'13:01' 'Es ist kurz nach ein Uhr.'
'13:02' 'Es ist kurz nach ein Uhr.'
}

onTheHourTemplate "Es ist {{ p }} {{ h }} Uhr."
template "Es ist {{ p }} {{ m }} {{ h }}."

ADD_TEXT {
   "Zeit etwas Gutes zu tun.",
   "Zeit es einfach zu machen und dabei zu bleiben.",
   "Zeit mehr zu tun als nur zu reden.",
   "Zeit Gott mal was zu fragen.",
   "Zeit sich an deinen ersten Kuss zu erinnern.",
   "Zeit zu tanzen.",
   "Zeit aufzustehen und sich im Kreis zu drehen.",
   "Zeit einmal tief einzuatmen.",
   "Zeit 'ne Praline zu essen.",
   "Zeit zu lächeln.",
   "Zeit einen Papierflieger zu basteln.",
   "Zeit die Hände einzucremen.",
   "Zeit sich ein Auge zuzuhalten.",
   "Zeit sich die Ohren zuzuhalten.",
   "Zeit dein Lieblingslied anzuhören.",
   "Zeit für eine Verschnaufpause.",
   "Zeit für ein gutes Wort.",
   "Zeit ein Lied zu summen.",
   "Zeit mit jemandem zu reden.",
   "Zeit verrückt durch die Gegend zu hüpfen.",
   "Zeit die Blumen zu gießen.",
   "Zeit den Müll rauszubringen.",
   "Zeit Ohren zu putzen.",
   "Zeit einen Freund anzurufen.",
   "Zeit ein Lied zu pfeifen.",
   "Dieser Moment gehört dir.", 
   "Zeit aus dem Fenster zu schauen.",
   "Zeit einen Apfel zu essen.",
   "Zeit barfuß einen Spaziergang zu machen.",
   "Zeit einen Smiley zu malen.",
   "Zeit sich an einen Witz zu erinnern.",
   "Zeit sich auf die Schenkel zu klopfen.",
   "Zeit aus dem Fenster zu winken.",
   "Zeit einen Tee zu trinken.",
   "Es ist noch nicht zu spät.",
   "Tue es!",
   "Zeit mit einem Zeh die Nase zu berühren.",
   "Zeit eine Hock-Streck-Sprung zu machen.",
   "Zeit ein völlig zusammenhangloses Zitat rauszuhauen.",
   "Zeit etwas italienisch auszusprechen, langsam, mit Betonung, etwa 'Ciao belli'.",
   "Zeit ein neues Buch anzufangen.",
   "Zeit die Musik laut aufzudrehen, daß man sie draußen noch hört.",
   "Zeit noch mal schnell ein frisches Teechen zu kochen.",
   "Zeit die Schubladen auszumisten.",
   "Zeit einen Geldschein in der Jacke zu verstecken - für später.",
   "Zeit Augenkontakt mit einer netten Person zu halten.",
   "Zeit jemanden zu loben.",
   "Zeit eine Runde rückwärts durch den Raum zu laufen.",
   "Zeit an eine Sternennacht zu denken.",
   "Zeit eine freundliche SMS zu schicken.",
   "Zeit das Fenster weit aufzumachen.",
   "Zeit sich an einen Strandtag zu erinnern.",
   "Zeit sich was zu wünschen.",
   "Zeit sich die Haare zu raufen.",
   "Zeit mit den Ohren zu wackeln.",
   "Zeit die Lippen zu befeuchten."
   "Zeit einen Euro zu verschenken.",
   "Verschenke deine Zeit.",
   "Zeit sich was zu gönnen.",
   "Zeit ranzuglotzen.",
   "Zeit für Dich.",
   "Zeit für Mich.",
   "Nimm dir Zeit.",
   "Zeit ein Insekt zu fangen und ",
   "Zeit für einen neuen Anfang.",
   "Zeit was verrücktes zu machen.",
   "Zeit ganz langsames Essen.",
   "Zeit für Besinnung.",
   "Dies ist keine Atomuhrzeit.",
   "Zeit geboren zu werden.",
   "Zeit zu lachen.",
   "Zeit Steine zu sammeln.",
   "Zeit zum Schweigen.",
   "Zeit zu lieben.",
   "Zeit für Musik.",
   "Zeit mal was anderes zu tun.",
   "Zeit zu küssen.", 
   "Zeit sich Zeit zu nehmen.",
   "Zeit über  staunen.",
   "Zeit von Füßen im Sand zu träumen.",
   "Zeit einem Freund zu helfen.",
   "Zeit dein eigenes Ding zu machen.",
   "Zeit abzugehen.",
   "Zeit etwas geniales zu starten.",
   "Zeiten ändern sich.",
   "Es ist nicht zu wenig Zeit, die wir haben, sondern es ist zu viel Zeit, die wir nicht nutzen. <small>(L. A. Seneca)</small>",
   "Die Zeit verweilt lange genug für denjenigen, der sie nutzen will. <small>(Leonardo da Vinci)</small>",
   "Eine schöne Uhr zeigt die Zeit an, eine schöne Frau lässt sie vergessen. <small>(Maurice Chevalier)</small>",
   "Wenn die Zeit kommt, in der man könnte, ist die vorüber, in der man kann. <small>(Marie von Ebner-Eschenbach)</small>",
   "Zeit haben nur diejenigen, die es zu nichts gebracht haben. Und damit haben sie es weitergebracht als alle anderen. <small>(Giovanni Guareschi)</small>",
   "Zeit die wir uns nehmen, ist Zeit, die uns etwas gibt. <small>(Ernst Ferstl)</small>",
   "Die Zeit vergeht nicht schneller als früher, aber wir laufen eiliger an ihr vorbei. <small>(George Orwell)</small>",
   "Manche halten einen ausgefüllten Terminkalender für ein ausgefülltes Leben. <small>(Gerhard Uhlenbruck)</small>",
   "Ausdauer wird früher oder später belohnt – meistens aber später. <small>(Wilhelm Busch)</small>",
   "Die Ewigkeit dauert lange, besonders gegen Ende. <small>(Woody Allen)</small>",
   "Pünktlichkeit ist die Kunst, richtig abzuschätzen, um wie viel der andere sich verspäten wird. <small>(Bob Hope)</small>",
   "Mit den Flügeln der Zeit fliegt die Traurigkeit davon. <small>(Jean de La Fontaine)</small>",
   "Es gibt Wichtigeres im Leben, als beständig dessen Geschwindigkeit zu erhöhen. <small>(Mahatma Gandhi)</small>",
   "Langeweile, zur rechten Zeit empfunden, ist ein Zeichen von Intelligenz. <small>(Clifton Fadiman)</small>",
   "Wer nicht jeden Tag etwas für seine Gesundheit aufbringt, muss eines Tages sehr viel Zeit für die Krankheit opfern. <small>(Sebastian Kneipp)</small>",
   "Jeder von uns hat nur ein Leben. <small>(Marcus Aurelius)</small>",
   "Die Freunde, die man um vier Uhr morgens anrufen kann, die zählen. <small>(Marlene Dietrich)</small>",
   "Carpe Diem! <small>(Horaz)</small>",
   "Ein jegliches hat seine Zeit. <small>(Prediger Salomo 3.1)</small>",
   "Und wenn ihr euch noch so viel sorgt, könnt ihr damit euer Leben auch nur um einen einzigen Augenblick verlängern? <small>(Lukas 12.25)</small>",
}
